.footer-clean {
  padding:50px 0;
  background-color:rgb(0, 0, 0);
  color:#ffffff;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}



.u-block-015e-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-015e-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2));
  width: 40px;
  padding-top: 40px;
  top: auto;
  bottom: 91px;
}

.u-block-015e-4 {
  position: absolute;
  width: 40px;
  padding-top: 40px;
  left: calc(((100% - 1140px) / 2)  + 107px);
  top: auto;
  bottom: 111px;
}

@media (max-width: 1199px) {
  .u-block-015e-3 {
    left: calc(((100% - 940px) / 2)  + -100px);
    width: 33px;
  }

  .u-block-015e-4 {
    width: 33px;
    left: calc(((100% - 940px) / 2)  + 7px);
  }
}

@media (max-width: 991px) {
  .u-block-015e-3 {
    left: calc(((100% - 720px) / 2)  + -210px);
    width: 25px;
  }

  .u-block-015e-4 {
    width: 25px;
    left: calc(((100% - 720px) / 2)  + -103px);
  }
}

@media (max-width: 767px) {
  .u-block-015e-3 {
    left: calc(((100% - 540px) / 2)  + -300px);
    width: 24px;
  }

  .u-block-015e-4 {
    width: 24px;
    left: calc(((100% - 540px) / 2)  + -193px);
  }
}

@media (max-width: 575px) {
  .u-block-015e-3 {
    left: calc(((100% - 340px) / 2)  + -400px);
    width: 20px;
  }

  .u-block-015e-4 {
    width: 20px;
    left: calc(((100% - 340px) / 2)  + -293px);
  }
}

.u-section-1-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 786px);
  height: 710px;
  margin: 0 auto 0 0;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 740px;
  margin: -710px auto 0;
}

.u-section-1-1 .u-image-1 {
  width: 712px;
  height: 783px;
  margin: 44px 80px 0 auto;
}

.u-section-1-1 .u-image-2 {
  width: 149px;
  height: 146px;
  margin: -277px 0 0 auto;
}

.u-section-1-1 .u-group-1 {
  width: 583px;
  min-height: 538px;
  margin: -569px auto 0 0;
}

.u-section-1-1 .u-image-3 {
  width: 175px;
  height: 62px;
  margin: 23px auto 0 23px;
}

.u-section-1-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 4.5rem;
  margin: 33px 0 0 20px;
}

.u-section-1-1 .u-text-2 {
  margin: 20px 120px 0 20px;
}

.u-section-1-1 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  margin: 30px auto 55px 20px;
}

.u-section-1-1 .u-group-2 {
  width: 293px;
  min-height: 157px;
  margin: -569px 0 0 auto;
}

.u-section-1-1 .u-text-3 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1rem;
  margin-bottom: 0;
}

.u-section-1-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 20px 20px 0;
}

.u-section-1-1 .u-text-5 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.125rem;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 538px);
  }

  .u-section-1-1 .u-image-1 {
    width: 654px;
    height: 807px;
    margin-top: 20px;
    margin-right: 109px;
  }

  .u-section-1-1 .u-image-2 {
    width: 123px;
  }

  .u-section-1-1 .u-group-1 {
    width: 470px;
    min-height: 473px;
  }

  .u-section-1-1 .u-image-3 {
    width: 145px;
    margin-left: 19px;
  }

  .u-section-1-1 .u-text-1 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-1-1 .u-text-2 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-left: 16px;
  }

  .u-section-1-1 .u-group-2 {
    width: 242px;
    min-height: 172px;
    margin-top: -580px;
    margin-bottom: 548px;
  }

  .u-section-1-1 .u-text-3 {
    font-size: 0.875rem;
    position: relative;
    margin-top: 15px;
    margin-right: -20px;
  }

  .u-section-1-1 .u-text-4 {
    font-size: 1.125rem;
    position: relative;
    margin-top: 21px;
    margin-right: 13px;
  }

  .u-section-1-1 .u-text-5 {
    position: relative;
    margin-top: 21px;
    margin-right: 13px;
    margin-bottom: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 460px);
  }

  .u-section-1-1 .u-sheet-1 {
    min-height: 793px;
    margin-top: -801px;
  }

  .u-section-1-1 .u-image-1 {
    width: 646px;
    height: 918px;
    margin-top: 127px;
    margin-right: 0;
  }

  .u-section-1-1 .u-image-2 {
    width: 94px;
    margin-top: -494px;
  }

  .u-section-1-1 .u-group-1 {
    width: 440px;
    min-height: 480px;
  }

  .u-section-1-1 .u-image-3 {
    width: 111px;
    margin-left: 15px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 13px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 13px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-left: 13px;
  }

  .u-section-1-1 .u-group-2 {
    width: 250px;
    min-height: 174px;
    margin-top: -573px;
    margin-bottom: 666px;
  }

  .u-section-1-1 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1-1 .u-text-4 {
    margin-left: 13px;
  }

  .u-section-1-1 .u-text-5 {
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 338px);
  }

  .u-section-1-1 .u-sheet-1 {
    min-height: 812px;
    margin-top: -673px;
  }

  .u-section-1-1 .u-image-1 {
    width: 531px;
    height: 672px;
    margin-top: 187px;
  }

  .u-section-1-1 .u-image-2 {
    width: 76px;
    height: 126px;
    margin-top: -318px;
  }

  .u-section-1-1 .u-group-1 {
    width: 303px;
    min-height: 454px;
    margin-top: -464px;
  }

  .u-section-1-1 .u-image-3 {
    width: 104px;
    margin-left: 11px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 9px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 33px;
    margin-left: 9px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-top: 33px;
    margin-bottom: 45px;
    margin-left: 9px;
  }

  .u-section-1-1 .u-group-2 {
    width: 202px;
    margin-top: -659px;
    margin-bottom: 566px;
  }

  .u-section-1-1 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1-1 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1-1 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 293px);
  }

  .u-section-1-1 .u-sheet-1 {
    min-height: 1117px;
    margin-top: -731px;
  }

  .u-section-1-1 .u-image-1 {
    height: 645px;
    margin-top: 588px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1-1 .u-image-2 {
    width: 92px;
    height: 134px;
    margin-top: -435px;
  }

  .u-section-1-1 .u-group-1 {
    width: 293px;
    min-height: 409px;
    margin-top: -877px;
  }

  .u-section-1-1 .u-image-3 {
    width: 87px;
    margin-top: 24px;
    margin-left: 20px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: -14px;
    margin-left: 20px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 19px;
    margin-left: 20px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-bottom: 24px;
    margin-left: 20px;
  }

  .u-section-1-1 .u-group-2 {
    min-height: 137px;
    width: 281px;
    margin: 0 auto 110px 12px;
  }

  .u-section-1-1 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1-1 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1-1 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }
}

.u-section-1-2 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 786px);
  height: 710px;
  margin: 0 auto 0 0;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 740px;
  margin: -710px auto 0;
}

.u-section-1-2 .u-image-1 {
  width: 712px;
  height: 783px;
  margin: 44px 80px 0 auto;
}

.u-section-1-2 .u-image-2 {
  width: 149px;
  height: 146px;
  margin: -277px 0 0 auto;
}

.u-section-1-2 .u-group-1 {
  width: 583px;
  min-height: 492px;
  margin: -569px auto 0 0;
}

.u-section-1-2 .u-image-3 {
  width: 175px;
  height: 62px;
  margin: 37px auto 0 20px;
}

.u-section-1-2 .u-text-1 {
  text-transform: uppercase;
  font-size: 4.5rem;
  margin: 33px 0 0 20px;
}

.u-section-1-2 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  margin: 33px auto 37px 20px;
}

.u-section-1-2 .u-group-2 {
  width: 293px;
  min-height: 157px;
  margin: -498px 0 0 auto;
}

.u-section-1-2 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1rem;
  margin-bottom: 0;
}

.u-section-1-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 20px 0;
}

.u-section-1-2 .u-text-4 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.125rem;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 538px);
  }

  .u-section-1-2 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-1-2 .u-image-1 {
    width: 621px;
    height: 807px;
    margin-top: 20px;
    margin-right: 75px;
  }

  .u-section-1-2 .u-image-2 {
    width: 123px;
  }

  .u-section-1-2 .u-group-1 {
    width: 470px;
    min-height: 473px;
  }

  .u-section-1-2 .u-image-3 {
    width: 145px;
    margin-left: 16px;
  }

  .u-section-1-2 .u-text-1 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-left: 16px;
  }

  .u-section-1-2 .u-group-2 {
    width: 242px;
    min-height: 172px;
    margin-top: -580px;
    margin-bottom: 548px;
  }

  .u-section-1-2 .u-text-2 {
    font-size: 0.875rem;
    position: relative;
    margin-top: 15px;
    margin-right: -20px;
  }

  .u-section-1-2 .u-text-3 {
    font-size: 1.125rem;
    position: relative;
    margin-top: 21px;
    margin-right: 13px;
  }

  .u-section-1-2 .u-text-4 {
    position: relative;
    margin-top: 21px;
    margin-right: 13px;
    margin-bottom: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 460px);
  }

  .u-section-1-2 .u-sheet-1 {
    min-height: 783px;
    margin-top: -801px;
  }

  .u-section-1-2 .u-image-1 {
    width: 496px;
    height: 797px;
    margin-top: 248px;
    margin-right: 0;
  }

  .u-section-1-2 .u-image-2 {
    width: 94px;
    margin-top: -494px;
  }

  .u-section-1-2 .u-group-1 {
    width: 440px;
    min-height: 480px;
  }

  .u-section-1-2 .u-image-3 {
    width: 111px;
    margin-left: 13px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 13px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-left: 13px;
  }

  .u-section-1-2 .u-group-2 {
    width: 250px;
    min-height: 141px;
    margin-top: -500px;
    margin-bottom: 626px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1-2 .u-text-3 {
    margin-left: 13px;
  }

  .u-section-1-2 .u-text-4 {
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 338px);
  }

  .u-section-1-2 .u-sheet-1 {
    min-height: 849px;
    margin-top: -673px;
  }

  .u-section-1-2 .u-image-1 {
    width: 483px;
    height: 699px;
    margin-top: 160px;
  }

  .u-section-1-2 .u-image-2 {
    width: 76px;
    height: 126px;
    margin-top: -318px;
  }

  .u-section-1-2 .u-group-1 {
    width: 303px;
    min-height: 454px;
    margin-top: -448px;
  }

  .u-section-1-2 .u-image-3 {
    width: 104px;
    margin-left: 9px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 9px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-left: 9px;
  }

  .u-section-1-2 .u-group-2 {
    width: 202px;
    margin-top: -675px;
    margin-bottom: 640px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1-2 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1-2 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 293px);
  }

  .u-section-1-2 .u-sheet-1 {
    min-height: 1117px;
    margin-top: -731px;
  }

  .u-section-1-2 .u-image-1 {
    height: 645px;
    margin-top: 588px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1-2 .u-image-2 {
    width: 92px;
    height: 134px;
    margin-top: -435px;
  }

  .u-section-1-2 .u-group-1 {
    width: 293px;
    min-height: 409px;
    margin-top: -877px;
  }

  .u-section-1-2 .u-image-3 {
    width: 87px;
    margin-left: 6px;
  }

  .u-section-1-2 .u-text-1 {
    margin-left: 6px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-left: 6px;
  }

  .u-section-1-2 .u-group-2 {
    min-height: 137px;
    width: 281px;
    margin: 0 auto 110px 12px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1-2 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1-2 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 701px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 80px auto 70px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 540px;
}

.u-section-2 .u-container-layout-1 {
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  margin: 101px 20px 0;
}

.u-section-2 .u-image-1 {
  height: 270px;
  margin: 33px auto 0 0;
}

.u-section-2 .u-shape-1 {
  width: 257px;
  height: 29px;
  margin: -271px auto 0 20px;
}

.u-section-2 .u-text-2 {
  margin: -56px 20px 0;
}

.u-section-2 .u-text-3 {
  margin: 70px 20px 0;
}

.u-section-2 .u-text-4 {
  margin: 25px 20px 0;
}

.u-section-2 .u-link-1 {
  margin: 20px auto 0 20px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 744px;
}

.u-section-2 .u-container-layout-2 {
  padding-right: 4px;
  padding-left: 4px;
}

.u-section-2 .u-shape-2 {
  width: 490px;
  height: 497px;
  margin: 25px auto 0 25px;
}

.u-section-2 .u-image-2 {
  width: 607px;
  height: 607px;
  margin: -607px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 85px;
    margin-bottom: 28px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 573px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-top: 55px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-shape-1 {
    width: 212px;
    margin-left: 16px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-link-1 {
    position: relative;
    margin-bottom: 55px;
    margin-left: 16px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 573px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-2 .u-shape-2 {
    width: 479px;
    height: 479px;
    margin-top: 57px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    width: 501px;
    height: 404px;
    margin-top: -424px;
    margin-left: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 75px;
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 518px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-shape-1 {
    width: 162px;
    margin-left: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-link-1 {
    margin-bottom: 0;
    margin-left: 13px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 518px;
  }

  .u-section-2 .u-shape-2 {
    width: 322px;
    height: 322px;
    margin-top: 96px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 383px;
    margin-top: -306px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1256px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 80px;
    margin-bottom: 22px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 495px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-shape-1 {
    width: 152px;
    margin-left: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-link-1 {
    margin-left: 9px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 601px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 4px;
  }

  .u-section-2 .u-shape-2 {
    width: 500px;
    height: 500px;
    margin-top: 127px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    width: 523px;
    margin-top: -438px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1124px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 75px;
    margin-bottom: 62px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 487px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-shape-1 {
    width: 128px;
    margin-left: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-link-1 {
    margin-left: 6px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 487px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 1px;
    padding-left: 1px;
  }

  .u-section-2 .u-shape-2 {
    width: 320px;
    height: 320px;
    margin-top: 356px;
  }

  .u-section-2 .u-image-2 {
    width: 302px;
    height: 241px;
    margin-top: -447px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 760px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 70px auto 35px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 625px;
}

.u-section-3 .u-image-1 {
  width: 497px;
  height: 497px;
  object-position: 50% 100%;
  background-position: 50% 50%;
  background-image: url("images/2bfbf3ac674ace94f6a57eaf2d34ee3d.jpeg");
  margin: 0 auto 0 0;
}

.u-section-3 .u-shape-1 {
  width: 350px;
  height: 350px;
  margin: -232px 6px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 384px;
  height: 266px;
  object-position: 50% 10.82%;
  background-position: 50% 10.82%;
  margin: -317px 5px 0 auto;
}

.u-section-3 .u-image-3 {
  width: 175px;
  height: 62px;
  margin: -523px 20px 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 625px;
  background-image: none;
}

.u-section-3 .u-text-1 {
  margin: 123px 20px 0;
}

.u-section-3 .u-shape-2 {
  width: 257px;
  height: 29px;
  margin: 32px auto 0 20px;
}

.u-section-3 .u-text-2 {
  margin: -56px 20px 0;
}

.u-section-3 .u-text-3 {
  margin: 70px 20px 0;
}

.u-section-3 .u-text-4 {
  margin: 25px 20px 0;
}

.u-section-3 .u-link-1 {
  margin: 20px auto 0 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 708px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 27px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 603px;
  }

  .u-section-3 .u-image-1 {
    width: 410px;
    height: 410px;
  }

  .u-section-3 .u-shape-1 {
    width: 288px;
    height: 288px;
    margin-top: -173px;
    margin-right: 5px;
  }

  .u-section-3 .u-image-2 {
    width: 246px;
    margin-top: -249px;
    margin-right: 35px;
  }

  .u-section-3 .u-image-3 {
    width: 145px;
    margin-top: -516px;
    margin-right: 5px;
    margin-bottom: 486px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 603px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-shape-2 {
    width: 212px;
    margin-left: 16px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-link-1 {
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 75px;
    margin-bottom: 25px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 613px;
  }

  .u-section-3 .u-image-1 {
    width: 314px;
    height: 314px;
  }

  .u-section-3 .u-shape-1 {
    width: 220px;
    height: 220px;
    margin-top: -113px;
    margin-right: 4px;
  }

  .u-section-3 .u-image-2 {
    width: 188px;
    height: 133px;
    margin-top: -176px;
    margin-right: 20px;
  }

  .u-section-3 .u-image-3 {
    width: 111px;
    margin-top: -358px;
    margin-right: 4px;
    margin-bottom: 501px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 613px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 70px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-shape-2 {
    width: 162px;
    margin-left: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-link-1 {
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 980px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 80px;
    margin-bottom: -171px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 418px;
  }

  .u-section-3 .u-image-1 {
    width: 294px;
    height: 294px;
    margin-top: 32px;
    margin-left: 45px;
  }

  .u-section-3 .u-shape-1 {
    width: 207px;
    height: 207px;
    margin-top: -145px;
    margin-right: 57px;
  }

  .u-section-3 .u-image-2 {
    width: 176px;
    margin-top: -170px;
    margin-right: 72px;
  }

  .u-section-3 .u-image-3 {
    width: 104px;
    margin-top: -289px;
    margin-right: 52px;
    margin-bottom: 264px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 432px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 40px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-shape-2 {
    width: 152px;
    margin-left: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-link-1 {
    margin-bottom: 40px;
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 954px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -238px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 351px;
  }

  .u-section-3 .u-image-1 {
    width: 247px;
    height: 247px;
    margin-top: 0;
    margin-left: 6px;
  }

  .u-section-3 .u-shape-1 {
    width: 173px;
    height: 172px;
    margin-top: -113px;
    margin-right: 2px;
  }

  .u-section-3 .u-image-2 {
    width: 148px;
    margin-top: -142px;
    margin-right: 14px;
  }

  .u-section-3 .u-image-3 {
    width: 87px;
    margin-top: -282px;
    margin-right: 6px;
    margin-bottom: 245px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 473px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-shape-2 {
    width: 128px;
    margin-left: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-link-1 {
    margin-left: 6px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 787px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 115px auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 586px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  margin-bottom: 0;
}

.u-section-4 .u-text-1 {
  margin: 101px 20px 0;
}

.u-section-4 .u-image-1 {
  height: 270px;
  margin: 33px auto 0 0;
}

.u-section-4 .u-shape-1 {
  width: 257px;
  height: 29px;
  margin: -271px auto 0 20px;
}

.u-section-4 .u-text-2 {
  margin: -56px 20px 0;
}

.u-section-4 .u-text-3 {
  margin: 70px 20px 0;
}

.u-section-4 .u-text-4 {
  margin: 25px 20px 0;
}

.u-section-4 .u-link-1 {
  margin: 20px auto 0 20px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 586px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 0;
}

.u-section-4 .u-image-2 {
  width: 470px;
  height: 470px;
  background-image: url("images/1ab39a337ce2239f8ef9493099ac9f0d.jpeg");
  background-position: 50% 50%;
  margin: 106px auto 0 10px;
}

.u-section-4 .u-image-3 {
  width: 357px;
  height: 357px;
  background-image: url("images/d63cd29a6e366fa5543849229f548cd7.jpeg");
  background-position: 50% 50%;
  margin: -620px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 85px;
    margin-bottom: 51px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-top: 60px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-shape-1 {
    width: 212px;
    margin-left: 16px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-link-1 {
    margin-bottom: 60px;
    margin-left: 16px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 556px;
  }

  .u-section-4 .u-image-2 {
    width: 388px;
    height: 388px;
    margin-left: 8px;
  }

  .u-section-4 .u-image-3 {
    width: 294px;
    height: 294px;
    margin-top: -514px;
    margin-right: 5px;
    margin-bottom: 282px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-shape-1 {
    width: 162px;
    margin-left: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-link-1 {
    margin-left: 13px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 585px;
  }

  .u-section-4 .u-image-2 {
    width: 390px;
    height: 390px;
    margin-top: 144px;
    margin-left: 5px;
  }

  .u-section-4 .u-image-3 {
    width: 225px;
    height: 225px;
    margin-top: -550px;
    margin-bottom: 376px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1170px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -70px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 475px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 50px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-shape-1 {
    width: 152px;
    margin-left: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-link-1 {
    margin-bottom: 50px;
    margin-left: 9px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 530px;
  }

  .u-section-4 .u-image-2 {
    width: 405px;
    height: 405px;
    margin-top: 115px;
  }

  .u-section-4 .u-image-3 {
    width: 272px;
    height: 272px;
    margin-top: -509px;
    margin-right: 20px;
    margin-bottom: 248px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1195px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 70px;
    margin-bottom: -80px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 513px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-shape-1 {
    width: 128px;
    margin-left: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-link-1 {
    margin-left: 6px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 562px;
  }

  .u-section-4 .u-image-2 {
    width: 334px;
    height: 334px;
    margin-top: 163px;
    margin-left: auto;
  }

  .u-section-4 .u-image-3 {
    width: 177px;
    height: 177px;
    margin-top: -457px;
    margin-right: 0;
    margin-bottom: 345px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 594px;
}

.u-section-5 .u-group-1 {
  width: 765px;
  min-height: 112px;
  margin: 50px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 30px auto 60px 0;
}

.u-section-5 .u-layout-cell-1 {
  background-image: none;
  min-height: 367px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 16px;
}

.u-section-5 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 25px 20px 0;
}

.u-section-5 .u-text-2 {
  margin: 30px 20px 0;
}

.u-section-5 .u-text-3 {
  margin: 20px 20px 25px;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 367px;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 20px;
}

.u-section-5 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 25px 20px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 30px 25px 0 0;
}

.u-section-5 .u-text-5 {
  margin: 20px 20px 25px 0;
}

.u-section-5 .u-layout-cell-3 {
  background-image: none;
  min-height: 367px;
}

.u-section-5 .u-container-layout-4 {
  padding-left: 16px;
}

.u-section-5 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 25px 20px 0;
}

.u-section-5 .u-text-6 {
  margin: 30px 20px 0;
}

.u-section-5 .u-text-7 {
  margin: 20px 20px 25px;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 367px;
  background-image: none;
}

.u-section-5 .u-container-layout-5 {
  padding-left: 16px;
}

.u-section-5 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 25px 20px 0;
}

.u-section-5 .u-text-8 {
  margin: 30px 20px 0;
}

.u-section-5 .u-text-9 {
  margin: 20px 20px 25px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    width: 631px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    font-size: 2.25rem;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 416px;
  }

  .u-section-5 .u-icon-1 {
    height: 60px;
    width: 60px;
    margin-right: auto;
    margin-left: 0;
    position: relative;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    position: relative;
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 416px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 16px;
  }

  .u-section-5 .u-icon-2 {
    height: 60px;
    width: 60px;
    margin-right: auto;
    position: relative;
  }

  .u-section-5 .u-text-4 {
    margin-right: 21px;
  }

  .u-section-5 .u-text-5 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 416px;
  }

  .u-section-5 .u-icon-3 {
    height: 60px;
    width: 60px;
    margin-right: auto;
    margin-left: 0;
    position: relative;
  }

  .u-section-5 .u-text-6 {
    position: relative;
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-5 .u-text-7 {
    position: relative;
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 416px;
  }

  .u-section-5 .u-icon-4 {
    height: 60px;
    width: 60px;
    margin-right: auto;
    margin-left: 0;
    position: relative;
  }

  .u-section-5 .u-text-8 {
    position: relative;
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-5 .u-text-9 {
    position: relative;
    margin-right: 16px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1068px;
  }

  .u-section-5 .u-group-1 {
    min-height: 126px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 13px;
  }

  .u-section-5 .u-icon-2 {
    margin-right: 13px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 16px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 13px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
  }

  .u-section-5 .u-icon-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-9 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1615px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 388px;
    margin: 40px auto 0 76px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 345px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 8px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 345px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 9px;
  }

  .u-section-5 .u-icon-2 {
    margin-right: 9px;
  }

  .u-section-5 .u-text-4 {
    position: relative;
    margin-right: 12px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 20px;
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 345px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 8px;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 345px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 8px;
  }

  .u-section-5 .u-icon-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 5px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 6px;
  }

  .u-section-5 .u-icon-2 {
    margin-right: 6px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 7px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 6px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 5px;
  }

  .u-section-5 .u-icon-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 5px;
  }

  .u-section-5 .u-icon-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-9 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 615px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 73px auto 73px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 500px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-6 .u-image-1 {
  width: 97px;
  height: 57px;
  margin: 25px auto 0 0;
}

.u-section-6 .u-text-1 {
  margin: 22px 20px 0 0;
}

.u-section-6 .u-shape-1 {
  width: 257px;
  height: 29px;
  margin: 32px auto 0 0;
}

.u-section-6 .u-text-2 {
  margin: -56px 20px 0 0;
}

.u-section-6 .u-text-3 {
  margin: 70px 20px 0 0;
}

.u-section-6 .u-text-4 {
  margin: 25px 20px 0 0;
}

.u-section-6 .u-link-1 {
  margin: 20px auto 25px 0;
}

.u-section-6 .u-image-2 {
  background-image: url("images/701bdb462f67d22176ea317618b7afde.jpeg");
  min-height: 500px;
  background-position: 50% 50%;
}

.u-section-6 .u-image-3 {
  background-image: url("images/a000af535b4082d4dd86992dc27bd626.jpeg");
  min-height: 250px;
  background-position: 50% 50%;
}

.u-section-6 .u-image-4 {
  background-image: url("images/1f5a27ba7515656d5dabdc056d45476a.jpeg");
  min-height: 250px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-6 .u-image-1 {
    width: 80px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 16px;
  }

  .u-section-6 .u-shape-1 {
    width: 212px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-6 .u-text-3 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-6 .u-image-1 {
    width: 62px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-6 .u-shape-1 {
    width: 162px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 13px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 13px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-6 .u-image-1 {
    width: 58px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-6 .u-shape-1 {
    width: 152px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 9px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-6 .u-image-1 {
    width: 48px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-6 .u-shape-1 {
    width: 128px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 6px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 6px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 6px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 351px;
}

.u-section-7 .u-group-1 {
  width: 978px;
  min-height: 231px;
  margin: 60px auto;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-shape-1 {
  width: 858px;
  height: 28px;
  margin: 63px auto 0;
}

.u-section-7 .u-text-1 {
  margin: -50px 20px 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.5rem;
  margin: 32px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-7 .u-group-1 {
    width: 806px;
  }

  .u-section-7 .u-shape-1 {
    width: 707px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-1 {
    width: 617px;
  }

  .u-section-7 .u-shape-1 {
    width: 542px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-group-1 {
    width: 540px;
  }

  .u-section-7 .u-shape-1 {
    width: 508px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-1 {
    width: 340px;
  }

  .u-section-7 .u-shape-1 {
    width: 340px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-8 {
  background-image: none;
  min-height: 618px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-8 .u-image-1 {
  min-height: 618px;
  background-image: url("images/edd036c2890f8885145c774ed0fa1b57.jpeg");
  background-position: 81.49% 50%;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 618px;
  background-image: none;
}

.u-section-8 .u-group-1 {
  width: 514px;
  min-height: 548px;
  margin: 35px auto 35px 37px;
}

.u-section-8 .u-image-2 {
  width: 102px;
  height: 42px;
  margin: 38px auto 0 0;
}

.u-section-8 .u-text-1 {
  margin: 21px 30px 0 0;
}

.u-section-8 .u-shape-1 {
  width: 256px;
  height: 29px;
  margin: 48px auto 0 0;
}

.u-section-8 .u-text-2 {
  margin: -57px 30px 0 0;
}

.u-section-8 .u-text-3 {
  margin: 55px 30px 0 0;
}

.u-section-8 .u-link-1 {
  margin: 20px auto 38px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-group-1 {
    width: 424px;
    margin-left: 30px;
  }

  .u-section-8 .u-image-2 {
    width: 84px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 25px;
  }

  .u-section-8 .u-shape-1 {
    width: 211px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 25px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 25px;
    position: relative;
  }

  .u-section-8 .u-link-1 {
    width: 64px;
    height: 29px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-group-1 {
    width: 325px;
    margin-left: 23px;
  }

  .u-section-8 .u-image-2 {
    width: 65px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 19px;
  }

  .u-section-8 .u-shape-1 {
    width: 162px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 19px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 19px;
  }

  .u-section-8 .u-link-1 {
    width: 49px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-image-1 {
    background-position: 36.54% 50%;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 689px;
  }

  .u-section-8 .u-group-1 {
    width: 552px;
    min-height: 619px;
    margin-right: 40px;
    margin-left: auto;
  }

  .u-section-8 .u-image-2 {
    width: 61px;
  }

  .u-section-8 .u-text-1 {
    position: relative;
    margin-right: 14px;
  }

  .u-section-8 .u-shape-1 {
    width: 152px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 62px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 98px;
    margin-right: 38px;
  }

  .u-section-8 .u-link-1 {
    width: 46px;
    margin-top: 120px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 1238px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 14px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    min-height: 509px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 720px;
  }

  .u-section-8 .u-group-1 {
    width: 340px;
    min-height: 599px;
    margin-top: 53px;
    margin-bottom: 53px;
    margin-right: auto;
  }

  .u-section-8 .u-image-2 {
    width: 51px;
    margin-left: 3px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 9px;
    margin-left: 3px;
  }

  .u-section-8 .u-shape-1 {
    width: 127px;
    margin-left: 3px;
  }

  .u-section-8 .u-text-2 {
    position: relative;
    margin-right: 21px;
    margin-left: 3px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 37px;
    margin-right: 21px;
  }

  .u-section-8 .u-link-1 {
    margin-top: 20px;
    margin-bottom: 0;
    width: 78px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 400px;
}